<li><a href="#" class="toggle_video">Toggle Video Demo</a></li>
                    <li><a href="#" class="scroller" data-section="#about">About</a></li>
                    <li><a href="#" class="scroller" data-section="#team">The Team</a></li>
                    <li><a href="#" class="scroller" data-section="#contact">Contact us</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <%=user_sekarang.nama%>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Example Link</a></li>
                            <li><a href="#">Example Link 2</a></li>
                            <li class="divider"></li>
                            <li><%=link_to 'Log Out', signouts_path,confirm:"are you sure?"%></li>
                        </ul>
                    </li>